.example-spacer {
    flex: 1 1 auto;
}

.example-container{
    height: 100%;
}

mat-sidenav {
    width: 250px;
}
    
.main-content {
    padding: 16px;
}
    
@media (max-width: 600px) {
  mat-sidenav {
    width: 200px;
    }
}
    