<div style="margin-left: auto; margin-right: auto; padding: 10px;">
  <p id="categoryFeedback"></p>
</div>

<div class="container-form" [@fadeInOut]>
  <h1>Formulario Categorias</h1>
  <form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="saveCategory()">

    <section>
      <mat-form-field appearance="fill">
        <mat-label for="title">Título:</mat-label>
        <input matInput type="text" [formControl]="title" />
        <mat-error *ngIf="title.hasError('required')">El título es obligatorio</mat-error>
        <mat-error *ngIf="title.hasError('maxlength')">El título debe tener menos de 55 caracteres.</mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label for="description">Descripción:</mat-label>
        <input matInput type="text" [formControl]="description" />
        <mat-error *ngIf="description.hasError('required')">La Descripción es obligatoria</mat-error>
        <mat-error *ngIf="description.hasError('maxlength')">La Descripción debe tener menos de 255 caracteres.</mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label for="description">Css color (#):</mat-label>
        <input matInput type="text" [formControl]="css_color" />
        <mat-error *ngIf="description.hasError('required')">El color CSS es requerido</mat-error>
        <mat-error *ngIf="description.hasError('maxlength')">El color no debe tener mas de 7 caracteres (incluido el #).</mat-error>
      </mat-form-field>
    </section>

    <button type="submit">Guardar</button>
  </form>
</div>
