<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div class="container-uoc" [@fadeInOut]>
  <mat-card class="cardLogin">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <section>
        <mat-form-field appearance="fill">
          <mat-label>Introduzca su email:</mat-label>
          <input matInput type="email" [formControl]="email" required  placeholder="Ex: user@example.com"/>

          <mat-error *ngIf="email.errors && (email.touched || email.dirty)">
            <span *ngIf="email.errors.required">Email es requerido</span>
            <span *ngIf="email.errors.pattern">Email no válido</span>
          </mat-error>

        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>Introduzca su contraseña:</mat-label>
          <input matInput type="password" [formControl]="password" placeholder="Contraseña" />
          <mat-error *ngIf="password.errors && (password.touched || password.dirty)">
            <span *ngIf="password.errors.required">Password es requerido</span>
            <span *ngIf="password.errors.minlength">Password must be greater tha 8 characters</span>
            <span *ngIf="password.errors.maxlength">Password can be max 16 characters long</span>
          </mat-error>
        </mat-form-field>      
      </section>
      <section style="text-align: center;">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </section>
      
    </form>
  </mat-card>
</div>
