<div style="margin-left: auto; margin-right: auto; padding: 10px;">
  <p id="postFeedback"></p>
</div>

<div class="container-form" [@fadeInOut]>
  <h1>Formulario Post</h1>
  <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="savePost()">
    
    <section>
      <mat-form-field appearance="fill">
        <mat-label for="title">Título:</mat-label>
        <input matInput type="text" [formControl]="title" />
        <mat-error *ngIf="title.hasError('required')">El título es obligatorio</mat-error>
        <mat-error *ngIf="title.hasError('maxlength')">El título debe tener menos de 55 caracteres.</mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label for="description">Descripción:</mat-label>
        <input matInput type="text" [formControl]="description" />
        <mat-error *ngIf="description.hasError('required')">La Descripción es obligatoria</mat-error>
        <mat-error *ngIf="description.hasError('maxlength')">La Descripción debe tener menos de 255 caracteres.</mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label for="publicationDate">Fecha Publiación: </mat-label>
        <input matInput type="date" [formControl]="publication_date" />
        <mat-error *ngIf="publication_date.hasError('required')">La fecha es obligatoria</mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label for="categories">Elegir categorias:</mat-label>
        <mat-select multiple [formControl]="categories">
          <mat-option *ngFor="let category of categoriesList" [value]="category.categoryId">
            {{ category.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </form>
</div>
