<p>List All posts</p>

<div class="content">
  <mat-card class="example-card" *ngFor="let post of posts">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>Autor:{{ post.userAlias }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ post.description }}</p>
      <p>Publicado: {{ post.publication_date | formatDate: 3 }}</p>
      <p>Likes: {{ post.num_likes }}</p>
      <p>Dislikes: {{ post.num_dislikes }}</p>
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip *ngFor="let category of post.categories" [ngStyle]="{ 'background-color': category.css_color }">{{ category.title }}</mat-chip>
      </mat-chip-set>
    </mat-card-content>
    <mat-card-actions *ngIf="showButtons">
      
      <button mat-button color="primary" (click)="like(post.postId)">Like</button>
      <button mat-button color="primary" (click)="dislike(post.postId)">Dislike</button>

    </mat-card-actions>
  </mat-card>
</div>
