<div class="container gird-cards">
  <!-- <p>Num likes: {{ numLikes }}</p>
  <p>Num dislikes: {{ numDislikes }}</p> -->

  <app-graficas title="Todos los Posts" [charData]="dataPie"></app-graficas>

  <app-graficas title="Por Posts" [charData]="dataBar" [chartType]="barType"></app-graficas>

  <!-- <mat-card class="card">
    <mat-card-header>
      <mat-card-title style="text-align: center;">Por posts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-graficas></app-graficas>
    </mat-card-content>
  </mat-card> -->
</div>
